@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    font-family: 'Poppins',
        arial;
}
.app {
    header {
        display: flex;
        padding: 0 1.5rem;
        justify-content: space-between;
        align-items: center;
        background: #6700ee;



        .logo {
            color: gold;
        }


        nav {
            ul {
                display: flex;
                list-style: none;
                li {
                    color: white;
                    a {
                        margin: 0 1rem;
                        text-decoration: none;
                        font-variant: small-caps;
                        color: inherit;
                    }
                }
            }
        }



        .social {
            display: none;
            ul {
                list-style: none;
            }
        }
    }


    
    .hero {
        background: #6E00FF;
        height: 70vh;
    }
}
